.card {
    flex: 1;
    width: 100%;
    border-radius: 15px;
    padding: 20px 15px;
    background: var(--color-light-soft);
    border: 1px solid var(--color-accent);
}

.iconBox {
    width: 45px;
    height: 45px;
    background-color: var(--color-accent);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 8px;
}


.iconBox .icon {
    color: var(--color-white);
    font-size: var(--fs-lg);
}

.total {
    font-size: var(--fs-4xl);
    margin-left: 10px;
    font-weight: 500;
    color: var(--color-black);
}

.label {
    font-size: var(--fs-md);
    text-transform: capitalize;
}