.form {
    border: 1px solid var(--color-gray);
    width: 100%;
    padding: 20px 25px;
    border-radius: 10px;
}

.formTitle {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.row {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.inputBox,
.textAreaBox {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.inputBox label,
.textAreaBox label {
    margin-bottom: 13px;
}

.inputBox select,
.inputBox input,
.textAreaBox textarea {
    height: 45px;
    border-radius: 10px;
    padding-inline: 15px;
    border: 1px solid var(--color-accent);
    background-color: var(--color-white-light);
}

.textAreaBox textarea {
    height: 80px;
    padding: 12px 15px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 18px;
}

.actionBtn {
    width: 140px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: var(--fs-base);
    border-radius: 5px;
    transition: .2s;
}

.addBtn {
    background-color: var(--color-accent);
    color: var(--color-white);
}

.addBtn:hover {
    background-color: var(--color-success);
}

.cancelBtn {
    background-color: var(--color-primary-soft);
    color: var(--color-white);
}

.cancelBtn:hover {
    background-color: var(--color-danger);

}