.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: var(--fs-lg);
  font-weight: 500;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 25px;
}

.searchInput {
  position: relative;
  width: 320px;
  height: 50px;
}

.searchInput input {
  padding-right: 35px;
  border-radius: 40px;
}

.icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.filtersContainer {
  display: flex;
  gap: 20px;
}

.filtersContainer .select {
  width: 320px;
  height: 50px;
  border-radius: 40px;
  background-color: var(--color-white);
  border: 2px solid var(--color-accent);
  padding-inline: 10px;
}

.applyFilter {
  background-color: transparent;
  color: var(--color-success);
  min-width: fit-content;
  height: fit-content;
  padding: 0 0 5px 0;
  position: relative;
  transition: 0.2s;
}

.applyFilter::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 2px;
  background-color: var(--color-success);
  transition: 0.2s;
}

.applyFilter:hover::after {
  width: 100%;
}
