.productsList {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.table {
  flex: 1;
  margin-top: 35px;
  border-radius: 20px;
  padding: 18px 15px;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
}

.addProductBtn {
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
  min-width: 150px;
  height: 40px;
  padding-inline: 25px;
  font-size: var(--fs-md);
  background-color: var(--color-accent);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.addProductBtn:hover {
  background-color: var(--color-success);
}


.tableTitle {
  font-size: var(--fs-xl);
  color: var(--color-success-dark);
}